.tooltip-text{
  display: inline-block;
  text-decoration: underline;
}

.tooltip{
  position: absolute;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  
}